<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.superlifesecretcode.app">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>


    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".SuperLifeSecretCodeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyALFgUrdpNgTeM1pxqEY_T9pGyITjM0F8k" />
        <!-- tools:node="replace" -->
        >
        <!--
             <meta-data
             android:name="com.google.android.gms.version"
             android:value="@integer/google_play_services_version" />
        -->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.disclosure.DiscolsureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.language.LanguageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".ui.subcategory.SubCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.webview.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.webview.TcWebViewActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.news.NewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.news.NewsDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.events.EventActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.events.EventDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sharing_latest.LatestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sharing_latest.LatestDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sharing_submit.SubmitListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sharing_submit.SubmitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.customizebar.CustomizeBarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.register.RegisterActivityNewFirst"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
        <activity
            android:name=".ui.register.RegisterActivityNewSecond"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.sharing_latest.VideoPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize" />
        <activity
            android:name=".ui.sharing_submit.ImageViewerActivity"
            android:label="@string/title_activity_image_viewer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.dailyactivities.interestedevent.InterestedEventCalendarActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.dailyactivities.personalevent.PersonalEventCalendarActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />

        <service android:name=".service.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.MyFirebaseInstanceMessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.dailyactivities.personalevent.AddNewEventCalendarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.countryactivities.CountryAcitvitiesActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.dailyactivities.interestedevent.InterestedEventActivityDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.countryactivities.CountryActivityDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.forgotpassword.ForgotPaswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.forgotpassword.ResetPaswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.notification.NotificationActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".FCMReceiver">
            <intent-filter>
                <action android:name="fcm_receiver" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.ringtone.RingtoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.player.PLayerPopupActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".ui.player.MessagePopupActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".ui.player.PLayerPopupActivityYesNO"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".ui.book.first.FirstBookActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.book.second.SecondBookActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.book.third.ThirsBookActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.book.forth.ForthBookActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".ui.myannouncement.MyAnnouncementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.myannouncement.addannouncement.AddAnnouncementActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.mycountryactivities.MyCountryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mycountryactivities.addcountryactivity.AddCountryActivityActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.book.five.FifthBookActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.book.six.SixthBookActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.book.myorder_book.OrderBookActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.book.detail.MyOrderDetailActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.studygroup.StudyGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.studygroup.studygroupdetails.StudyGroupDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".player.activity.VideoPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Player" />
        <activity
            android:name=".player.activity.FullScreenVideoPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Player" />
        <activity
            android:name=".player.activity.AudioPlayerActivity"
            android:label="Player" />

        <service
            android:name=".player.service.MediaService"
            android:enabled="true"
            android:exported="false" />
        <activity
            android:name=".ui.studygroup.planlist.SubscriptionPlanListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.studygroup.paymentproof.PaymentProofActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.studygroup.ThanksActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.kpi_summery.KpiActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.kpi_summery.PointDetailsActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>